@import 'screen-sizes.scss';
@import 'element-layouts.scss';



.stripe-wp-donate-page-main {
    margin: 2rem 3rem 2rem 3rem;
    font-size: 1.17rem;

    form {
        padding: .375rem;
    }
    h1 {
        font-size: 4rem;
    }

    h4 {
        margin: 0 0 2rem 0;
    }
}


.stripe-wp-donate-page-header {
    margin: 1rem 3rem 1rem 3rem;
}

.stripe-wp-d-none {
    display: none !important;
}


.stripe-wp-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .375rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    input[type="radio"] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover, &:active, &:focus, &.active {
        &:not(:disabled) {
            background-color: #000000;
            color: #ffffff;
        }
    }
    &.stripe-wp-btn-submit {
        background-color: #ff0e44;
    }
}


.stripe-wp-btn-control {
    border-color: #efefef;
}

.stripe-wp-donate-amount-button {
    display: block;
    width: 100%;
}

.stripe-wp-donate-amount-text{
    display: block;
    width: 100%;
}

.stripe-wp-navbar-brand {
    img {
        max-width: 120px;
    }
}

.stripe-wp-donate-page-title {
    margin: 2rem 0 2rem 0;
}

.stripe-wp-error-text {
    color: #ff2200;
}

#stripe-wp-donate-call-to-action {
    padding-left: 30px;
}

#stripe-wp-donate-disclosure-text, #stripe-wp-donate-transaction-security {
    font-size: 0.8rem;
    color: #6c757d;
}

#stripe-wp-donate-additional-info {
    margin: 2rem 0 0 0;
}
